{% extends "winter-2014/sidebar.html" %}

{% block page %}

<h1>Office Hours</h1>

<p>In addition to the hours below, you
can <a href="http://zappala.byu.edu/schedule">view my schedule</a> to
see when I am likely to be around for additional help.</p>

<!-- Monday -->

<div class="row-fluid office">
  <div class="span2 day">Monday</div>
  <div class="span2 hours">
    1 - 2
  </div>
  <div class="span3 hours">
    Elham
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    2 - 4
  </div>
  <div class="span3 hours">
    Justin
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    4 - 5
  </div>
  <div class="span3 hours">
    Prof. Zappala
  </div>
  <div class="span5 hours">
    2228 TMCB
  </div>
</div>

<!-- Tuesday -->

<div class="row-fluid office">
  <div class="span2 day">Tuesday</div>
  <div class="span2 hours">
    1 - 2
  </div>
  <div class="span3 hours">
    Elham
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>


<!-- Wednesday -->

<div class="row-fluid office">
  <div class="span2 day">Wednesday</div>
  <div class="span2 hours">
    1 - 2
  </div>
  <div class="span3 hours">
    Elham
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    2 - 4
  </div>
  <div class="span3 hours">
    Justin
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    4 - 5
  </div>
  <div class="span3 hours">
    Prof. Zappala
  </div>
  <div class="span5 hours">
    2228 TMCB
  </div>
</div>

<!-- Thursday -->

<div class="row-fluid office">
  <div class="span2 day">Thursday</div>
  <div class="span2 hours">
    1 - 2
  </div>
  <div class="span3 hours">
    Elham
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>


<!-- Friday -->

<div class="row-fluid office">
  <div class="span2 day">Friday</div>
  <div class="span2 hours">
    1 - 2
  </div>
  <div class="span3 hours">
    Elham
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    2 - 4
  </div>
  <div class="span3 hours">
    Justin
  </div>
  <div class="span5 hours">
    2240 TMCB
  </div>
</div>

<div class="row-fluid office">
  <div class="span2 offset2 hours">
    4 - 5
  </div>
  <div class="span3 hours">
    Prof. Zappala
  </div>
  <div class="span5 hours">
    2228 TMCB
  </div>
</div>

{% endblock %}
