blinker==1.8.2
cffi==1.17.1
click==8.1.7
Flask==3.0.3
Flask-Misaka==1.0.1
Frozen-Flask==1.0.2
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
misaka==2.1.1
pycparser==2.22
Werkzeug==3.0.4
zipp==3.20.2
