{% extends "winter-2014/sidebar.html" %}

{% block page %}

{% filter markdown %}

# Applications

1. Kurose & Ross, Chapter 2, Problem P22.

1. Kurose & Ross, Chapter 2, Problem P26.

1. Kurose & Ross, Chapter 2, Problem P27.

1. Kurose & Ross, Chapter 2, Problem P28.

1. Read the article titled [The Economics of
Spam](http://www.ingentaconnect.com/content/aea/jep/2012/00000026/00000003/art00005) by Justin M. Rao and David H. Reiley, published in The Journal of
Economic Perspectives in 2012. You can obtain this article for free if
you are logged in on the BYU campus. Write a short (2-3 paragraph)
summary of the article that explains its major points. Then write a
paragraph explaining and justifying your preferred solution to the
problem of spam.

1. BitTorrent uses incentives to encourage users to share the portions
of a file they have downloaded already. What problem could this cause
for a user who starts out without any of the file?  How could you
solve this problem without removing incentives entirely?  Would your
solution make it easier for freeloaders to download the file without
ever sharing anything?

{% endfilter %}

{% endblock %}
