{% extends "winter-2014/sidebar.html" %}

{% block page %}

{% filter markdown %}

# Lab: Reliable Transport

In this lab, you will write a reliable transport protocol that uses
cumulative ACKs, sliding window, and a retransmission timer, similar
to TCP. You will use the simulator to examine the efficiency achieved
by different window sizes.

## Simulator

I have modified the [Bene](https://github.com/zappala/bene) simulator
to include transport connections between two hosts, along with a
Stop-and-Wait transport protocol. You can use

> git pull

to update your code. Please see the [Bene
Wiki](https://github.com/zappala/bene/wiki) for documentation of the
current code.

## TCP

Implement reliable transport using TCP as your model. This should include the
following features:

* The connection between the two communicating hosts is two-way,
  meaning either side can send data.

* When sending data, use a fixed window size, which can be specified
  as an argument to the connection when it is created.

* Use a maximum segment size of 1000 bytes.

* Use sequence numbers that count in terms of bytes.

* Use a send buffer with a sliding window algorithm. For example, if
  the window size is 10000 bytes, then the algorithm can have 10
  outstanding segments, each with 1000 bytes, from a sequential
  portion of the sending buffer. As segments are acknowledged in
  order, the window slides forward and new segments can be sent. If
  segments are acknowledged out of order, then the window does not
  slide.

* Send a cumulative ACK for every packet received. Do not implement delayed
  ACKs.

* Use a fixed timeout for retransmitting segments, which can be
  specified as an argument to the connection when it is created.

* Keep only one retransmission timer per connection. The rules for
  this timer are as follows: (1) Every time a segment containing data
  is sent (including a retransmission), if the timer is not running,
  start it running so that it will expire after RTO seconds. (2) When
  all outstanding data has been acknowledged, turn off the
  retransmission timer. (3) When an ACK is received that acknowledges
  new data, restart the retransmission timer so that it will expire
  after RTO seconds. When the retransmission timer expires, retransmit
  the earliest segment that has not been acknowledged and restart the
  timer so that it will expire after RTO seconds.  This is taken from
  section 5 of [RFC 2988](http://www.ietf.org/rfc/rfc2988.txt).


* When receiving data, use a receive buffer that can store
  out-of-order packets. Deliver data to the application only when it is
  in order.

* For extra credit, you may implement a dynamic retransmission timer
  that uses an EWMA for the timer value and for the variance. In this
  case, see the RFC cited above for details on doubling the timer value
  when retransmitting a segment.

* For extra credit, you may implement Fast Retransmit. In this case, a
  loss event occurs when there are three duplicate ACKs (meaning the
  fourth ACK in a row for the same sequence number), and TCP can
  immediately retransmit instead of waiting for the retransmission
  timer.  In this case, treat the loss exactly as you would a
  retransmission timer expiration.

## Testing

Use the simulator to set up a simple network consisting of two nodes and
and one bidirectional link:

![network](/static/img/two-nodes-one-link.png)

Note that to do this in the simulator, you must create a
unidirectional link from _n1_ to _n2_, and another one from _n2_ to
_n1_.

Using this network, test the following scenarios:

1. Set the bandwidth of the links to 10 Mbps, with a propagation delay
of 10 ms. Transfer the file `test.txt` from _n1_ to _n2_ using a
window size of 3000 bytes.  Repeat this test, with loss rates of 0%,
10%, 20%, and 50%.

1. Set the bandwidth of the links to 10 Mbps, with a propagation delay
of 10 ms. Transfer the file `internet-architecture.pdf` from _n1_ to
_n2_ using a window size of 10000 bytes.  Repeat this test, with loss
rates of 0%, 10%, 20%, and 50%.

Write a separate Python script for each of these tests, where the loss
rate is passed in on the command line. The script should output traces
from your TCP implementation demonstrating that it works well, and it
should run a diff to ensure the file is transferred correctly. Use the
`transfer.py` script as an example.

## Experiments

Using the same network configuration as above, set the bandwidth of
the links to 10 Mbps, with a propagation delay of 10 ms, a queue size
of 100 and a loss rate of 0%. Transfer the `internet-architecture.pdf`
file using window sizes of 1000, 2000, 5000, 10000, 15000, and 20000
bytes.  Compute the throughput of the transfer as the total bits sent
divided by the total time to send the file, measured from the start of
the simulation to when the last segment is received. Compute the
average queueing delay of all segments sent.  Plot the throughput and
the average queueing delay as a function of the window size, on two
separate graphs.

## Report

Write a report that includes the following:

* Reliable Transport: Describe how you implemented reliable
    transport. Use figures where appropriate. Describe each of your
    tests and state which ones your code passes.

    If you implemented a dynamic retransmission timer for extra credit,
    show proof that it works as designed. Show how the timer converges
    to the right value over time, and how exponential backoff
    works. Include debugging output to validate the correct behavior.

    If you implemented Fast Retransmit, show proof that it works as
    designed.  Show how the packet is retransmitted before the
    retransmission timer expires, and show how this decreases the total
    time to transmit the file.

* Experiments: Describe your experiments, include your graphs, and
    explain how the throughput and queueing delay vary as the window
    size increases.

Write using a formal, scientific report style. Your report should be
written as if you are explaining your work to another CS student, and
they need all of the details of what you did so that they can
replicate your experiments.

Your report can be any length, as long as you thoroughly describe your
project and results. The paper must use 11 point type, single spacing,
and one column per page.

You must use LaTex to write your report. You can use [this
template](https://github.com/zappala/latex-report-template) for your
report. To help you learn LaTeX, I suggest using the [WikiBooks LaTex
reference](http://en.wikibooks.org/wiki/LaTeX).

## Submission

Your code should be located in a directory called lab2 in the top level:

<pre>
bene/
  src/
  examples/
  lab2/
</pre>

Turn in a tarball that includes all of your code (for the simulator,
experiments, graphing, etc), and a PDF of your report:

<pre>
tar -czvf bene.tgz bene
</pre>

using Learning Suite.

## Grading

This lab is worth 200 points, and will be graded using the following rubric:

* 50% for partial work that indicates substantial effort was made
* 70% - 80% for C quality work
* 80% - 90% for B quality work
* 90% - 100% for A quality work
* Extra 10 points for a dynamic retransmission timer that is well documented.
* Extra 5 points for Fast Retransmit that is well documented.

To get full points, all tests must pass and the report must be
complete and written with a scientific style.

{% endfilter %}

{% endblock %}
