{% extends "base.html" %}

{% block page %}

{% filter markdown %}

# Course Description

This course examines how the Internet work. Topics include
application-layer networking, transport protocols, routing protocols,
IP, link-level protocols, wireless networking, and multimedia
networking. Students will gain experience with networks by simulating
significant components of the Internet. The course will also introduce
students to research in the area of networking.

# Prerequisites

CS 360

# Course Materials

* [2018 Winter]({{url_for("show",directory="winter-2018")}})
* [2017 Winter]({{url_for("show",directory="winter-2017")}})
* [2016 Winter]({{url_for("show",directory="winter-2016")}})
* [2015 Winter]({{url_for("show",directory="winter-2015")}})
* [2014 Winter]({{url_for("show",directory="winter-2014")}})

{% endfilter %}
      
{% endblock %}
